body {
  background: #e4e4e4;
}

body > div.row.column {
  background: #f4f4f4;
}

form {
  padding: 1em 0;
}

div.large-6 > div {
  padding: 1em;
  background: #e4e4e4;
}

textarea {
  min-height: 8em;
}

.choices .callout.primary {
  font-weight: bold;
}

.multiplechoices > .callout.success {
  font-weight: bold;
}

.multiplechoices > .callout.success:after {
  content: ' *';
}
