<!doctype html>
<html>
<head>
  <meta charset="utf-8">
<script type="text/javascript">
  window.MathJax = {
    AuthorInit: function () {
      // couchdb n'aime vraiment pas l'usage de l'argument ?rev
      // généré automatiquement par le loader MathJax;
      // on s'en occupe ici (peut-être des effets secondaires..?)
      window.MathJax.cdnVersion = ''
    }
  }
</script>
<script type="text/javascript" async
   src="js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
<body>
<%= templates.logged(data) %>
<p>When $$a \ne 0,$$ there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$</p>

<p>Voilà.</p>
<pre>
<%- JSON.stringify(data, null, ' ') %>
</pre>
<pre>
<%- JSON.stringify(data.user, null, ' ') %>
</pre>
<script type="text/javascript" src="js/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
