<% if (data.user && data.user.name) { %>
  <p>Rebonjour, Prof. <%- data.user.name %>.</p>
  <form id="logout">
  <input class="button alert" type="submit" value="logout">
  </form>
  <p>
    <a href="/prof/<%- data.user.name %>/questions">Voir les questions que j'ai édité</a>
    ou <a href="/doc">créer une nouvelle question</a>.
  </p>
<% } else { %>
  <form id="proflogin" method="post" action="/session?next=/prof">
  <label>name: <input type="text" name="name" placeholder="username"></label>
  <label>password: <input type="password" name="password"></label>
  <input class="button" type="submit" value="login">
  </form>
<% } %>
